/* START OF UTILITES */
.w-half {
    width: 50%;
}

.w-full {
    width: 100%;
}

.no-margin {
    padding: 0;
    margin: 0;
}

.bg-pink {
    background-color: #FF6575;
}

.bg-pink:hover {
    background-color: #e24958
}

.bg-outline-pink {
    border: 2px solid #FF6575;
}

.text-white {
    color: white;
}

.text-pink {
    color: #FF6575;
}

.text-secondary-purple {
    color: #9490B6
}

.text-green {
    color: #72C861;
}

.text-md {
    font-size: 18px;
}

.text-gray {
    color: #4F4F4F;
}

.mt-6 {
    margin-top: 6rem;
}

.mb-6 {
    margin-bottom: 6rem;
}

.font-montserrat {
    font-family: Montserrat;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

/* END OF UTILITES */

/* START PLYR CUSTOM STYLE */
/* -- https://github.com/sampotts/plyr -- */

:root {
    --plyr-color-main: #FF6575;
}

/* END PLYR CUSTOM STYLE */

nav {
    background-color: #453D80;
}

body {
    font-family: 'Source Sans Pro';
}

nav span {
    font-size: 18px;
    font-weight: 600;
}

.jumbotron {
    margin-top: -4rem;
    height: 106vh;
    background-color: #453D80;
}

.jumbotron h1 {
    font-size: 52px;
    font-weight: 600;
}

.course-title {
    padding: 0 12rem 0 12rem;
}

.jumbotron span {
    font-size: 17.5px;
    font-weight: 600;
}

.jumbotron input::placeholder {
    color: #A6A2BF;
}

.jumbotron input[type=text] {
    width: 90%;
    padding: 25px;
    background-color: #453D80;
    color: white;
}

.jumbotron .input-with-icon {
    position: relative;
}

.jumbotron .input-with-icon span {
    position: absolute;
    right: 45px;
    top: 6px;
}

main h2 {
    font-weight: 600;
}

.card-rounded {
    border-radius: 20px;
}

.card .card-img-top {
    display: block;
    margin: auto;
    width: 18rem;
    height: 11.5rem;
    border-radius: 20px;
    object-fit: cover;
}

.card p {
    font-size: 18px;
}

.card .card-body span {
    font-weight: 500;
}

.card-user {
    padding: 0 1.25rem 0 1.25rem;
}

.card-footer span {
    font-weight: 600;
    font-size: 22px;
}

hr {
    margin-top: 0;
}

.card {
    transition: 0.3s;
}

.card:hover {
    cursor: pointer;
    box-shadow: 15px 15px 31px -24px rgba(0, 0, 0, 0.75);
}

.card .card-img-top {
    transition: 0.3s;
}

.card:hover .card-img-top {
    cursor: pointer;
    filter: grayscale(80%);
    transform: scale(1.05);
}

.card-link a {
    text-decoration: none;
}

.btn-category {
    border: none;
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
}

.btn-outline-category {
    border: 1px solid #FF6575;
    padding: 3px 20px 3px 20px;
    border-radius: 5px;
    background-color: white;
}

.btn-outline-category:hover {
    background-color: #FF6575;
    color: white;
}

footer {
    width: 100%;
    height: 12rem;
    background-color: #453D80;
}

.card-full {
    width: 100%;
    height: 33.5rem;
    border: 1px solid #4F4F4F;
    border-radius: 40px;
    background-color: white;
    position: relative;
    overflow: hidden;
}

.btn-preview {
    position: absolute;
    width: 16.5rem;
    height: 3rem;
    text-align: right;
    z-index: 1;
    top: 6px;
    left: -80px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    border-radius: 10px;
    padding-right: 25px;
}

.svg-polygon {
    margin-top: -5px;
}

.progress-md {
    height: 1.3rem;
}

.progress-rounded {
    border-radius: 20px;
}

.progress-bar-pink {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #FF6575;
    transition: width 0.6s ease;
}

.info-video {
    height: 100%;
    overflow: auto;
}

.text-video {
    font-size: 14px;
}

.comment-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.comment input[type=text] {
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    width: 465px;
}

@media (min-width: 992px) {}
